table {
    font-family: sans-serif;
    font-weight: 1000;
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

td {
    padding-left: 20px;
    border: black 2px solid;
}

#head, #bottom {
    height: 14.3646%;
}

#n1 {
    background-color: #0166FE;
}

#n2 {
    background-color: #FECB00;
    width: 27.1428%;
}

#n3 {
    background-color: #0166FE;
}

#n4 {
    background-color: #FEFEFE;
}

#n5 {
    background-color: #FECB00;
    width: 28.5714%;
}