html, body {
    height: 100%;
    margin: 0;
    width: 100%;
    font-family: sans-serif;
    font-weight: 1000;
}

#row1 {
    border: 2px solid black;
    padding-left: 20px;
    width: 100%;
    height: 14.3646%;
    background-color: #0166FF;
}

#row_other {
    height: 80%;
}

#col5 {
    padding-left: 20px;
    border-left: 2px solid black;
    width: 28.5714%;
    float: left;
    background-color: #FECB00;
    height: 100%;
    /*text-align: center;*/
    align-content: center;
}

#col4 {
    padding-left: 20px;
    border-left: 2px solid black;
    border-right: 2px solid black;
    background-color: #FEFEFE;
    float: left;
    width: 42.2858%;
    height: 100%;
}

#col2 {
    padding-left: 20px;
    border-right: 2px solid black;
    /*width: 27.1428%;*/
    width: auto;
    background-color: #FECB00;
    height: 100%;
}

#row3 {
    border: 2px solid black;
    padding-left: 20px;
    width: 100%;
    height: 14.3646%;
    position: absolute;
    bottom: 0;
    background-color: #0166FF;
}