html {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    font-size: 2em;
    padding: 0 0 0 10%;
    width: 80%;
    height: 100%;
}

tr {
    height: 20%
}

table {
    border-collapse: collapse;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

#higher {
    height: 60%
}

.blue-t {
    width: 100%;
    color: white;
    background-color: blue;
}

.blue-w {
    height: 10%;
}

td {
    border: 3px black solid;
    padding-top: 0;
    margin: 0;
    padding-left: 10%;
    font-size: 4em;
}

tr {
    width: 100%;
}

.yellow-2 {
    background-color: yellow;
    height: 40%;
    width: 25%;
}

.white-4 {
    width: 50%;
    background-color: white;
}

.yellow-5 {
    background-color: yellow;
}

.blue-b {
    background-color: blue;
    color: white;
}